In [2]:
import tushare as ts
pro = ts.pro_api('e14582519b220f9c7fd17842f75a403502806093824f2f730e5a2b6a')
df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [3]:
df

   exchange  cal_date  is_open pretrade_date
0       SSE  20180901        0      20180831
1       SSE  20180902        0      20180831
2       SSE  20180908        0      20180907
3       SSE  20180909        0      20180907
4       SSE  20180915        0      20180914
5       SSE  20180916        0      20180914
6       SSE  20180922        0      20180921
7       SSE  20180923        0      20180921
8       SSE  20180924        0      20180921
9       SSE  20180929        0      20180928
10      SSE  20180930        0      20180928
11      SSE  20181001        0      20180928